<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grass_lower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,384}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>grass_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{1024,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,384}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foreground.png</string>
            <key>size</key>
            <string>{1028,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12686db9c5fe9b76f93dd832f1905b6a:2582df1292e17c6224537a3879dd882d:a31890b580d03e175cb901d1091cb125$</string>
            <key>textureFileName</key>
            <string>foreground.png</string>
        </dict>
    </dict>
</plist>
