<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_l_correct.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,325}}</string>
                <key>sourceSize</key>
                <string>{180,325}</string>
            </dict>
            <key>hit_l_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{180,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,325}}</string>
                <key>sourceSize</key>
                <string>{180,325}</string>
            </dict>
            <key>hit_s_correct.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,280},{120,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,216}}</string>
                <key>sourceSize</key>
                <string>{120,216}</string>
            </dict>
            <key>hit_s_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{120,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,216}}</string>
                <key>sourceSize</key>
                <string>{120,216}</string>
            </dict>
            <key>normal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{199,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,276}}</string>
                <key>sourceSize</key>
                <string>{199,276}</string>
            </dict>
            <key>normal_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,310},{200,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,276}}</string>
                <key>sourceSize</key>
                <string>{200,276}</string>
            </dict>
            <key>normal_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,312},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>normal_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{135,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,186}}</string>
                <key>sourceSize</key>
                <string>{135,186}</string>
            </dict>
            <key>sleep_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{236,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,306}}</string>
                <key>sourceSize</key>
                <string>{236,306}</string>
            </dict>
            <key>sleep_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{237,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,308}}</string>
                <key>sourceSize</key>
                <string>{237,308}</string>
            </dict>
            <key>sleep_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,348},{159,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,205}}</string>
                <key>sourceSize</key>
                <string>{159,205}</string>
            </dict>
            <key>sleep_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,139},{160,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,207}}</string>
                <key>sourceSize</key>
                <string>{160,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1172,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9a59104e143b5e7e96be863918473f1:f86a095a6cac89064017285c126e4753:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
