<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{157,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,284}}</string>
                <key>sourceSize</key>
                <string>{157,284}</string>
            </dict>
            <key>hit_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{115,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,208}}</string>
                <key>sourceSize</key>
                <string>{115,208}</string>
            </dict>
            <key>normal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{199,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,276}}</string>
                <key>sourceSize</key>
                <string>{199,276}</string>
            </dict>
            <key>normal_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>sleep_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,306}}</string>
                <key>sourceSize</key>
                <string>{236,306}</string>
            </dict>
            <key>sleep_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{159,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,205}}</string>
                <key>sourceSize</key>
                <string>{159,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1289,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1ed0532a05906e5db33d22220749f9:26c1d98258fcfc5d153532f94dfc7b93:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
