<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{157,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,284}}</string>
                <key>sourceSize</key>
                <string>{157,284}</string>
            </dict>
            <key>hit_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{115,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,208}}</string>
                <key>sourceSize</key>
                <string>{115,208}</string>
            </dict>
            <key>normal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{199,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,276}}</string>
                <key>sourceSize</key>
                <string>{199,276}</string>
            </dict>
            <key>normal_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{200,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,276}}</string>
                <key>sourceSize</key>
                <string>{200,276}</string>
            </dict>
            <key>normal_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,280},{135,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,188}}</string>
                <key>sourceSize</key>
                <string>{135,188}</string>
            </dict>
            <key>normal_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,280},{135,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,186}}</string>
                <key>sourceSize</key>
                <string>{135,186}</string>
            </dict>
            <key>sleep_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{236,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,306}}</string>
                <key>sourceSize</key>
                <string>{236,306}</string>
            </dict>
            <key>sleep_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,308}}</string>
                <key>sourceSize</key>
                <string>{237,308}</string>
            </dict>
            <key>sleep_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,310},{159,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,205}}</string>
                <key>sourceSize</key>
                <string>{159,205}</string>
            </dict>
            <key>sleep_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,280},{160,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,207}}</string>
                <key>sourceSize</key>
                <string>{160,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{999,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a1d346896cd0c8d2a3ef13ed3123c6:cb4f7dbe3704680145d0507f96419eb4:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
