<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hardmode.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1028,408},{286,89}}</string>
                <key>offset</key>
                <string>{-45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,44},{286,89}}</string>
                <key>sourceSize</key>
                <string>{450,161}</string>
            </dict>
            <key>hardmode_click.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1119,408},{286,89}}</string>
                <key>offset</key>
                <string>{-45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,44},{286,89}}</string>
                <key>sourceSize</key>
                <string>{450,161}</string>
            </dict>
            <key>normalmode.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{404,91}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{404,91}}</string>
                <key>sourceSize</key>
                <string>{450,161}</string>
            </dict>
            <key>normalmode_click.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{404,91}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{404,91}}</string>
                <key>sourceSize</key>
                <string>{450,161}</string>
            </dict>
            <key>startbackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startscene.png</string>
            <key>size</key>
            <string>{1214,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd1b3c54c8f54363185bb0746a2088d:9f7c7bb599e43287bdcbb7e19d6ea8f5:dad6dcbf717a5681af4ced4b8417ff90$</string>
            <key>textureFileName</key>
            <string>startscene.png</string>
        </dict>
    </dict>
</plist>
