<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,171}}</string>
                <key>sourceSize</key>
                <string>{268,171}</string>
            </dict>
            <key>b_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{312,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,170}}</string>
                <key>sourceSize</key>
                <string>{312,170}</string>
            </dict>
            <key>b_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{303,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,165}}</string>
                <key>sourceSize</key>
                <string>{303,165}</string>
            </dict>
            <key>t_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{220,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,145}}</string>
                <key>sourceSize</key>
                <string>{220,145}</string>
            </dict>
            <key>t_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{201,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,140}}</string>
                <key>sourceSize</key>
                <string>{201,140}</string>
            </dict>
            <key>t_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{221,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,131}}</string>
                <key>sourceSize</key>
                <string>{221,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tables.png</string>
            <key>size</key>
            <string>{1539,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3250ec6dd475fdb94a384d4fd3067adc:15404164b9a030ed53e74f0be7a56cd3:be8fc9d75d0c6a9f29a969f2368e997b$</string>
            <key>textureFileName</key>
            <string>tables.png</string>
        </dict>
    </dict>
</plist>
